extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.container.container--breadcrumbs
		.breadcrumbs
			a.breadcrumbs__item(href="/")  Главная
			.breadcrumbs__delimiter
			.breadcrumbs__item Фундамент

	section.text-page
		.container
			h1.text-page-title ФУНДАМЕНТ
			.text-page-text
				p ФУНДАМЕНТ ЛЮБОГО ТИПА, В ЗАВИСИМОСТИ ОТ ГРУНТА НА УЧАСТКЕ – ПОКУПАТЕЛЬ БАНИ ГОТОВИТ САМОСТОЯТЕЛЬНО ДО ЕЕ ДОСТАВКИ ПО ПРЕДОСТАВЛЕННЫМ НАШИМ ПРОЕКТИРОВЩИКОМ РАЗМЕРАМ.
			.two-pics
				.two-pics__pic
					img(src="images/fundament-1.jpg", alt="")
				.two-pics__pic
					img(src="images/fundament-2.jpg", alt="")

			.text-page-text
				p  В БЛИЗЛЕЖАЙШИХ ТЕРРИТОРИЯХ ОТ ПРОИЗВОДСТВА (ОРИЕНТИРОВОЧНО +100КМ ОТ ХАБАРОВСКА) МОЖНО ЗАКАЗАТЬ СВАЙНО-ВИНТОВОЙ ФУНДАМЕНТ ОТ НАШЕЙ КОМПАНИИ.
				p  Наша компания использует для монтажа фундамента многовитковые литые сваи горячего цинкования <span style="color: #FAB91E; font-weight: 700;">3м длиной</a>, с обвязкой их по оголовкам брусом и последующей ее гидроизоляцией. <br> Усиления между сваями дополнительно рассчитываются по необходимости в зависимости от состояния грунта.
				p  Точный расчет стоимости доставки, монтажа бани и монтажа фундамента (при необходимости) после выезда нашего специалиста на участок, либо предоставления информации об участке (фото, видео) если доставка в другие регионы. Характер информации опишет наш специалист после связи с покупателем.
