extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.container.container--breadcrumbs
		.breadcrumbs
			a.breadcrumbs__item(href="/")  Главная
			.breadcrumbs__delimiter
			.breadcrumbs__item Материалы

	.section-materials
		.container
			.materials-cards
				.materials-left
					.material-card.material-card--type-1.js-material-card(data-target="#info-card-1-1")
						.material-card__pic
							img(src="images/materials/material-1.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name Дерево
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
							.material-card__link sait.proizvoditela.ru
					.material-cards-wrap
						.material-card.material-card--type-2.js-material-card(data-target="#info-card-1-2")
							.material-card__pic
								img(src="images/materials/material-2.jpg", alt="")
							.material-card__inner
								.material-card__top
									.material-card__name Кровля
									.material-card__opener
										img(src="images/materials/opener.svg", alt="")
								.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
								.material-card__link sait.proizvoditela.ru
						.material-card.material-card--type-2.js-material-card(data-target="#info-card-1-3")
							.material-card__pic
								img(src="images/materials/material-3.jpg", alt="")
							.material-card__inner
								.material-card__top
									.material-card__name Кирпич
									.material-card__opener
										img(src="images/materials/opener.svg", alt="")
								.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
								.material-card__link sait.proizvoditela.ru
				.materials-right
					.material-card.material-card--type-3.js-material-card(data-target="#info-card-1-4")
						.material-card__pic
							img(src="images/materials/material-4.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name Газобетонные конструкции
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text Газобетон — разновидность ячеистого бетона, изготавливаемая с применением газообразователей. Свою прочность он набирает в автоклаве под воздействием высокого давления и парообработки. По способу порообразования ячеистые бетоны делятся на пенобетоны и газобетоны.
							.material-card__link sait.proizvoditela.ru

				.material-informative-cards
					#info-card-1-1.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-1.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Дерево
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p С развитием технологий в отрасли строительства регулярно появляются новые виды строительных материалов. В данной статье мы рассмотрим какие пиломатериалы представлены на рынке на сегодняшний день.
								p Дерево в строительной сфере применялось всегда, даже при сооружении пирамид и средневековых гранитных замков. Сегодня древесные материалы применяются не менее широко, хотя с изобретением бетона дерево начинает уступать ему свои доминирующие в прошлом позиции. Но и современные каменные здания никак не могут обойтись без дерева. Например, ни один жилой дом сегодня не обойдется без стропильной системы, которая в 99% случаев изготавливается именно из древесины. Также она используется и при отделочных работах, и это не говоря уже об опалубке, если производится бетонирование каких-либо частей дома. Да, деревянное домостроение в нашей стране идет на спад, а каркасные технологии вообще не прижились, а это как раз те виды строительства, которые требуют применения большого количества дерева.
								p Но и в каменном домостроении древесины используется не так уж и мало, поэтому деревообрабатывающая промышленность сегодня развивается достаточно быстрыми темпами. На многих лесопилках и фабриках производятся самые разные пиломатериалы, предназначение которых очень широко. Для каждого вида работ применяют тот или иной тип материала, в связи с этим имеется классификация пиломатериалов.
							.material-card__link sait.proizvoditela.ru

					#info-card-1-2.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-2.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Кровля
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Кровля — это верхний слой крыши, который защищает дом от осадков. Срок ее службы без капитального ремонта — от 40 до 70 лет, в зависимости от материала.
								p Кровля обустраивается в соответствии со строительными нормами. Для улучшения эксплуатационных показателей используются материалы, повышающие теплоизоляционные свойства (утеплители).
								p Строение малоформатных, натуральных и чешуйчатых видов кровли позволяет им выдерживать резкие и частые температурные перепады. Это способствует сохранению микроклимата в доме зимой и летом.
								p Современные кровельные материалы обладают огнеустойчивостью, поэтому подходят с точки зрения пожарной безопасности. Еще одним позитивным воздействием является способность кровли снижать действие ультрафиолетового и теплового излучения. Не стоит забывать и о снижении шумов, имеющих как внешний источник происхождения (дождь, уличный шум), так и внутренний (конденсат).
								p Таким образом кровля придает зданию архитектурную индивидуальность, законченный вид и улучшает эксплуатационные характеристики крыши в целом.
								p На выбор материалов для покрытия кровли влияет в первую очередь местные климатические условия. Для регионов с частыми и обильными дождями и ветром подходит крутой скат с маленьким свесом. В местах с повышенным количеством осадков строятся дома с более пологим скатом и большим свесом. Важным фактором для выбора материала является и предназначение здания, будет ли оно частным домом, административным зданием или производственным комплексом.
							.material-card__link sait.proizvoditela.ru

					#info-card-1-3.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-3.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Кирпич
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Кирпич – это та элементарная частица, из которой возводят как дома в несколько этажей, так и небольшие постройки на собственном участке. При этом чтобы создаваемое сооружение отвечало строительным нормам и правилам безопасности, необходимо иметь понятие о том, как, когда и какие его виды применяются в том или ином случае. Для этого разберем, какие виды кирпича есть в широком доступе сегодня, по каким основным параметрам различаются между собой их разновидности, какие характеристики имеют, а также что нужно учесть при выборе материала.
								p Размер, характеристики и внешний вид кирпича для строительства (иначе называемого просто строительным или рядовым) строго задаются ГОСТом 530–2007. Поэтому он одинаково широко используется как в жилищно-многоэтажной, так частной застройке. Хотя внешне изделие не отличается идеальной эстетикой, и на нем могут быть многочисленных сколы, трещины и дефекты, тем не менее, оно обладает базовыми параметрами прочности.
								p Сфера его применения – капитальные строительные конструкции, внешняя и внутренняя отделка. При этом кирпич не обладает достаточной теплоизоляцией при рекомендуемых нормах толщины стен частных домов. Поэтому в местностях с холодной зимой потребуется дополнительное утепление.
							.material-card__link sait.proizvoditela.ru

					#info-card-1-4.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-4.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Газобетонные конструкции
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Газобетон — это материал, который состоит из песка, цемента, извести и воды. В процессе изготовления все компоненты смешиваются в необходимых пропорциях, формы со смесью отправляются в камеру созревания, где материал обретает первоначальную прочность. «Далее происходит разрезание массива на высокоточной линии резки, и он отправляется в автоклав на 12 часов (проще говоря, печь с высоким давлением). Именно там газобетон обретает свои конечные характеристики, становясь искусственным каменным минералом», — отметил эксперт.
								p Перед строительством дома из газобетона, как и любого другого, нужно подготовить проект и изучить особенности работы с материалом. Крупные производители газобетона часто проводят мастер-классы по строительству и выпускают специальные инструкции
								p Газобетон (газоблоки) является крупноформатным строительным материалом, которому требуется устойчивый фундамент. Эксперты рекомендуют строить дом из газоблоков на монолитном ленточном фундаменте или плите. Из самого газобетона строится каркас дома. Внешняя отделка дома может быть любой. Например, его можно оштукатурить, облицевать кирпичом, искусственным камнем или брусом. Утеплять дом необязательно, если использовать блок плотностью 400 кг/м3 (D400) и толщиной 400 мм.
							.material-card__link sait.proizvoditela.ru


			.materials-cards
				.materials-left
					.material-card.material-card--type-1.js-material-card(data-target="#info-card-2-1")
						.material-card__pic
							img(src="images/materials/material-1.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name Дерево
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
							.material-card__link sait.proizvoditela.ru
					.material-cards-wrap
						.material-card.material-card--type-2.js-material-card(data-target="#info-card-2-2")
							.material-card__pic
								img(src="images/materials/material-2.jpg", alt="")
							.material-card__inner
								.material-card__top
									.material-card__name Кровля
									.material-card__opener
										img(src="images/materials/opener.svg", alt="")
								.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
								.material-card__link sait.proizvoditela.ru
						.material-card.material-card--type-2.js-material-card(data-target="#info-card-2-3")
							.material-card__pic
								img(src="images/materials/material-3.jpg", alt="")
							.material-card__inner
								.material-card__top
									.material-card__name Кирпич
									.material-card__opener
										img(src="images/materials/opener.svg", alt="")
								.material-card__text Небольшое описание в пару строк у этого материала Небольшое описание в пару строк у этого материала
								.material-card__link sait.proizvoditela.ru
				.materials-right
					.material-card.material-card--type-3.js-material-card(data-target="#info-card-2-4")
						.material-card__pic
							img(src="images/materials/material-4.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name Газобетонные конструкции
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text Газобетон — разновидность ячеистого бетона, изготавливаемая с применением газообразователей. Свою прочность он набирает в автоклаве под воздействием высокого давления и парообработки. По способу порообразования ячеистые бетоны делятся на пенобетоны и газобетоны.
							.material-card__link sait.proizvoditela.ru

				.material-informative-cards
					#info-card-2-1.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-1.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Дерево
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p С развитием технологий в отрасли строительства регулярно появляются новые виды строительных материалов. В данной статье мы рассмотрим какие пиломатериалы представлены на рынке на сегодняшний день.
								p Дерево в строительной сфере применялось всегда, даже при сооружении пирамид и средневековых гранитных замков. Сегодня древесные материалы применяются не менее широко, хотя с изобретением бетона дерево начинает уступать ему свои доминирующие в прошлом позиции. Но и современные каменные здания никак не могут обойтись без дерева. Например, ни один жилой дом сегодня не обойдется без стропильной системы, которая в 99% случаев изготавливается именно из древесины. Также она используется и при отделочных работах, и это не говоря уже об опалубке, если производится бетонирование каких-либо частей дома. Да, деревянное домостроение в нашей стране идет на спад, а каркасные технологии вообще не прижились, а это как раз те виды строительства, которые требуют применения большого количества дерева.
								p Но и в каменном домостроении древесины используется не так уж и мало, поэтому деревообрабатывающая промышленность сегодня развивается достаточно быстрыми темпами. На многих лесопилках и фабриках производятся самые разные пиломатериалы, предназначение которых очень широко. Для каждого вида работ применяют тот или иной тип материала, в связи с этим имеется классификация пиломатериалов.
							.material-card__link sait.proizvoditela.ru

					#info-card-2-2.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-2.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Кровля
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Кровля — это верхний слой крыши, который защищает дом от осадков. Срок ее службы без капитального ремонта — от 40 до 70 лет, в зависимости от материала.
								p Кровля обустраивается в соответствии со строительными нормами. Для улучшения эксплуатационных показателей используются материалы, повышающие теплоизоляционные свойства (утеплители).
								p Строение малоформатных, натуральных и чешуйчатых видов кровли позволяет им выдерживать резкие и частые температурные перепады. Это способствует сохранению микроклимата в доме зимой и летом.
								p Современные кровельные материалы обладают огнеустойчивостью, поэтому подходят с точки зрения пожарной безопасности. Еще одним позитивным воздействием является способность кровли снижать действие ультрафиолетового и теплового излучения. Не стоит забывать и о снижении шумов, имеющих как внешний источник происхождения (дождь, уличный шум), так и внутренний (конденсат).
								p Таким образом кровля придает зданию архитектурную индивидуальность, законченный вид и улучшает эксплуатационные характеристики крыши в целом.
								p На выбор материалов для покрытия кровли влияет в первую очередь местные климатические условия. Для регионов с частыми и обильными дождями и ветром подходит крутой скат с маленьким свесом. В местах с повышенным количеством осадков строятся дома с более пологим скатом и большим свесом. Важным фактором для выбора материала является и предназначение здания, будет ли оно частным домом, административным зданием или производственным комплексом.
							.material-card__link sait.proizvoditela.ru

					#info-card-2-3.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-3.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Кирпич
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Кирпич – это та элементарная частица, из которой возводят как дома в несколько этажей, так и небольшие постройки на собственном участке. При этом чтобы создаваемое сооружение отвечало строительным нормам и правилам безопасности, необходимо иметь понятие о том, как, когда и какие его виды применяются в том или ином случае. Для этого разберем, какие виды кирпича есть в широком доступе сегодня, по каким основным параметрам различаются между собой их разновидности, какие характеристики имеют, а также что нужно учесть при выборе материала.
								p Размер, характеристики и внешний вид кирпича для строительства (иначе называемого просто строительным или рядовым) строго задаются ГОСТом 530–2007. Поэтому он одинаково широко используется как в жилищно-многоэтажной, так частной застройке. Хотя внешне изделие не отличается идеальной эстетикой, и на нем могут быть многочисленных сколы, трещины и дефекты, тем не менее, оно обладает базовыми параметрами прочности.
								p Сфера его применения – капитальные строительные конструкции, внешняя и внутренняя отделка. При этом кирпич не обладает достаточной теплоизоляцией при рекомендуемых нормах толщины стен частных домов. Поэтому в местностях с холодной зимой потребуется дополнительное утепление.
							.material-card__link sait.proizvoditela.ru

					#info-card-2-4.material-card.material-card--informative
						.material-card__pic
							img(src="images/materials/material-4.jpg", alt="")
						.material-card__inner
							.material-card__top
								.material-card__name.material-card__name--informative Газобетонные конструкции
								.material-card__opener
									img(src="images/materials/opener.svg", alt="")
							.material-card__text.material-card__text--informative
								p Газобетон — это материал, который состоит из песка, цемента, извести и воды. В процессе изготовления все компоненты смешиваются в необходимых пропорциях, формы со смесью отправляются в камеру созревания, где материал обретает первоначальную прочность. «Далее происходит разрезание массива на высокоточной линии резки, и он отправляется в автоклав на 12 часов (проще говоря, печь с высоким давлением). Именно там газобетон обретает свои конечные характеристики, становясь искусственным каменным минералом», — отметил эксперт.
								p Перед строительством дома из газобетона, как и любого другого, нужно подготовить проект и изучить особенности работы с материалом. Крупные производители газобетона часто проводят мастер-классы по строительству и выпускают специальные инструкции
								p Газобетон (газоблоки) является крупноформатным строительным материалом, которому требуется устойчивый фундамент. Эксперты рекомендуют строить дом из газоблоков на монолитном ленточном фундаменте или плите. Из самого газобетона строится каркас дома. Внешняя отделка дома может быть любой. Например, его можно оштукатурить, облицевать кирпичом, искусственным камнем или брусом. Утеплять дом необязательно, если использовать блок плотностью 400 кг/м3 (D400) и толщиной 400 мм.
							.material-card__link sait.proizvoditela.ru
