extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.container
		h1 ингорируйте этот файл даже если я забуду его удалить!
		ul
			li Не забыть прикрутить модалки к кнопкам на сайте
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li