extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};


block main
	.container.container--breadcrumbs
		.breadcrumbs
			a.breadcrumbs__item(href="/")  Главная
			.breadcrumbs__delimiter
			.breadcrumbs__item Земельный участок

	section.text-with-buttons-section
		.container
			h1.twb-title Земельный участок
			.twb
				.twb-item
					h2.twb-item__title Дома
					.twb-item__text
						p Индивидуальные жилые дома дают своим владельцам целый ряд преимуществ по сравнению с другими разновидностями загородной недвижимости. Во-первых, они имеют собственный почтовый адрес и позволяют оформить постоянную регистрацию. Кроме того, владельцам участков ИЖС как правило гораздо проще подключить дом к электросетям и коммуникациям. <br> Нужно подавать уведомление о планируемом строительстве объекта ИЖС. До начала строительства нужно получить ответное уведомление — о соответствии параметров дома нормам
					.twb-item__btn-wrap
						a.btn(href="") Скачать памятку
				.twb-item
					h2.twb-item__title Документы
					.twb-item__text
						p Уведомление о разрешении на строительство; <br> правоустанавливающие документы на земельный участок; <br> градостроительный план земельного участка, выданный не ранее, чем за три года до подачи заявления; <br> Собственники участков ИЖС могут воспользоваться ипотечными кредитами на строительство домов, в том числе льготных программ, среди которых: «Дальневосточная ипотека», «господдержка 2020», «Для семьи с детьми», «сельская ипотека».
					.twb-item__btn-wrap
						a.btn(href="") Скачать памятку
				.twb-item
					h2.twb-item__title Разрешение на строительство ЛПХ
					.twb-item__text
						p Разрешение на строительство ЛПХ нужно обязательно получать
						p Собственники участков ЛПХ могут воспользоваться ипотечными кредитами на строительство домов, среди которых: «Дальневосточная ипотека», «господдержка 2020», «сельская ипотека» «Строительство жилого дома», «Загородная недвижимость»
						p Возможно использование СНТ
						p В случае, если СНТ находится в границах населенного пункта, на участке допустимо возведение жилых домов. К таким постройкам предъявляются аналогичные требования, как и к объектам индивидуального жилищного строительства (ограничение по высоте до 20 метров, наличие фундамента и несущих стен).  <br> Для получения разрешения строительства дома на садовом участке ничего не нужно делать. Достаточно иметь в собственности земельный участок и правоустанавливающие документы на него. Копии документов на землю, подтверждающие право, в последующем предоставляются в Росреестр для регистрации объекта недвижимости <br> Собственники участков СНТ могут воспользоваться ипотечными кредитами на строительство домов, среди которых: «Дальневосточная ипотека», «Загородная недвижимость», «Господдержка 2020»

					.twb-item__btn-wrap
						a.btn(href="") Скачать памятку
