footer.site-footer
	.container
		.sf-main
			.sf-main__col
				.sf-logo
					img(src="images/sf-logo.svg", alt="")
				.sf-company-name ГК "Юнит"
				.sf-info г.Хабаровск, ул.Пушкина 15 ГК “Юнит”
				.sf-info Все права защищены. 2022

			.sf-main__col
				.sf-menu
					a.sf-menu__item(href="") Технология
					a.sf-menu__item(href="") Материалы
					a.sf-menu__item(href="") Инженерия
					a.sf-menu__item(href="") Выбор материалов/Расцветок
					a.sf-menu__item(href="") Земельный участок
			.sf-main__col
				.sf-menu
					a.sf-menu__item(href="") Ипотека
					a.sf-menu__item(href="") Сервис
					a.sf-menu__item(href="") Фундамент
					a.sf-menu__item(href="") Доставка и монтаж
					a.sf-menu__item(href="") Контакты
			.sf-main__col
				.sf-socials
					.sf-socials__title Соцсети
					.socials
						a.socials__item(href="")
							include ../../images/socials/Instagram.svg
						a.socials__item(href="")
							include ../../images/socials/Facebook.svg
						a.socials__item(href="")
							include ../../images/socials/WhatsApp.svg
		.sf-bottom
			a.sf-maker(href="https://yode.pro")
				span Cделано в Yode.PRO
				| <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0909 0.791209C13.0909 0.395604 12.6982 0 12.3055 0L8.64 7.91209V12H12.4364C12.6982 12 13.0909 11.6044 13.0909 11.3407V7.64835C13.0909 7.38462 13.4836 6.98901 13.7455 6.98901H14.4V5.14286H13.7455C13.4836 5.14286 13.0909 4.74725 13.0909 4.48352V0.791209Z" fill="#373735"/><path d="M1.30909 0.791209C1.30909 0.395604 1.70182 0 2.09455 0L5.76 7.91209V12H1.96364C1.70182 12 1.30909 11.6044 1.30909 11.3407V7.64835C1.30909 7.38462 0.916364 6.98901 0.654545 6.98901H0V5.14286H0.654545C0.916364 5.14286 1.30909 4.74725 1.30909 4.48352V0.791209Z" fill="#373735"/><path d="M5.23636 0L7.13455 5.14286L9.16364 0H5.23636Z" fill="#373735"/></svg>

			.sf-year 2022