

header.site-header
	.container.container--site-header
		.sh-left
			a.sh-logo(href="/")
				img(src="images/logo.svg", alt="")
		nav.sh-main
			ul.sh-main-menu
				li.sh-main-menu__item
					a(href="") Дома
				li.sh-main-menu__item
					a(href="") Дома-бани
				li.sh-main-menu__item
					a(href="") Бани

		.sh-right
			a.sh-contacts(href="")
				.sh-contacts__icon
					img(src="images/WhatsApp.svg", alt="")
				.sh-contacts__info
					.sh-contacts__text Написать в Whatsapp
					.sh-contacts__number + 7 (4212) 77-55-85

			.sh-burger.js-toggle-menu
				span
.site-header-placeholder
.side-nav-wrap
	.side-nav-block
		.side-nav-block__top.js-toggle-menu
			.side-nav-block__title Меню
			.side-menu-burger
				|  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28 24.5H4V21.8333H28V24.5ZM28 17.8333H4V15.1667H28V17.8333ZM28 11.1667H4V8.5H28V11.1667Z" fill="#FAFAFA"/></svg>

		nav.side-nav-block__menu
			ul.side-menu
				li.side-menu__item.side-menu__item--only-mob
					a.side-menu__item-name(href="") Дома
				li.side-menu__item.side-menu__item--only-mob
					a.side-menu__item-name(href="") Дома-бани
				li.side-menu__item.side-menu__item--only-mob
					a.side-menu__item-name(href="") Бани

				li.side-menu__item
					.side-menu__item-name.js-side-menu-item--open-sub Технология
					ul.side-menu-sub
						li.side-menu-sub__item
							a(href="") Технология дома
						li.side-menu-sub__item
							a(href="") Технология бани
				li.side-menu__item
					a.side-menu__item-name(href="") Материалы
				li.side-menu__item
					a.side-menu__item-name(href="") Инженерия
				li.side-menu__item
					a.side-menu__item-name(href="") Выбор материалов
				li.side-menu__item
					a.side-menu__item-name(href="") Земельный участок
				li.side-menu__item
					a.side-menu__item-name(href="") Ипотека
				li.side-menu__item
					a.side-menu__item-name(href="") Сервис
				li.side-menu__item
					a.side-menu__item-name(href="") Фундамент
				li.side-menu__item
					a.side-menu__item-name(href="") Доставка и монтаж
				li.side-menu__item
					a.side-menu__item-name(href="") Контакты


