doctype html

block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(property="og:image" content="images/logo.svg")
		meta(name="format-detection" content="telephone=no")
		link(href="css/main.css" rel="stylesheet")

		//title= `${page.title}`
		script.
			// First we get the viewport height and we multiple it by 1% to get a value for a vh unit
			let vh = window.innerHeight * 0.01;
			// Then we set the value in the --vh custom property to the root of the document
			document.documentElement.style.setProperty('--vh', `${vh}px`);
			// We listen to the resize event
			window.addEventListener('resize', () => {
			// We execute the same script as before
			let vh = window.innerHeight * 0.01;
			document.documentElement.style.setProperty('--vh', `${vh}px`);
			});
	body
		block header
			include ../partials/_header

		main.main
			block main

		block footer
			include ../partials/_footer

		block modals
			include ../partials/_modals



		script(src="js/main.js")

		block scripts
